* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
}

form div {
  margin: 1em;
  display: inline-block;
}
/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b7a2cd;
  width: 100%;
}
.logo-img {
  height: 150px;
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.8rem;
}
.main-nav {
  padding-right: 50px;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #3e1152;
}
.material-icons-outlined {
  font-size: 45px;
}

.material-icons-outlined:hover {
  font-size: 50px;
  transition: 1s ease-out;
}
/* Home */
.home-header {
  position: relative;
}
.welcome {
  text-align: end;
}
.home-img {
  width: 100%;
}
.text-box {
  position: absolute;
  left: 60%;
  top: 38%;
  transform: translate(-5%, -65%);
  text-align: center;
}
.heading-primary {
  color: #3a0e4d;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 40px;
}
.heading-primary-main {
  display: block;
  font-size: 48px;
  font-weight: 400px;
  letter-spacing: 25px;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700px;
  letter-spacing: 5.4px;
  animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-white {
  background-color: white;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
/* Sign-In */
.sign-in {
  height: 100%;
  padding-left: 50px;
}
.signin-form {
  display: flex;
  flex-direction: column;
  width: 30%;
  /*  align-items: center; */
  padding: 20px 0px;
  border: 1px solid rgba(128, 128, 128, 0.596);
  margin: 60px auto;
}
.signin-form div {
  padding: 0 20px;
}
.login {
  padding: 30px 36px;
}
.label::after {
  content: "*";
  color: #c00;
}
.input {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
}
.button {
  width: 100%;
  color: white;
  background-color: #3e1152;
  height: 37px;
  font-size: 18px;
}
.button:hover {
  cursor: pointer;
}
/* Product */
.products {
  padding: 0 60px;
  width: 100%;
}
.product-header {
  width: 100%;
  text-align: center;
  padding-top: 20px;
}
.header-text {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-weight: 300;
  color: #3e1152;
  font-size: 20px;
  padding-top: 45px;
  margin-bottom: 15px;
}
.text {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.025em;
  line-height: 1.7;
}
.header-img {
  width: 100%;
  height: 25vh;
  background-size: cover;
  background-position: top;
}
.grid-container {
  grid-column: center-start / center-end;
  margin: 2rem 0;
  display: grid;
  margin-left: 20px;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 3rem;
}

.product-container {
  display: grid;
  padding: 20px;
  position: relative;
  width: 340px;
}
.filter-container {
  margin-top: 80px;
  display: flex;
  justify-content: end;
  padding-right: 80px;
}
.filter-box {
  display: flex;
}
.label {
  color: #57206e;
}
.filter {
  padding-right: 15px;
}
.product-name {
  color: black;
  margin-bottom: 15px;
  width: 330px;
}
.price {
  color: #3e1152;
}
.addtobag-btn {
  background-color: #3d1152;
  opacity: 0;
  color: white;
  text-transform: uppercase;
  position: absolute;
  bottom: 110px;
  left: 60px;
  width: 60%;
  text-align: center;
  min-height: 4em;
  font-weight: 400;
  letter-spacing: 2px;
}
.addtobag-btn:hover {
  background-color: white;
  color: #3d1152;
  border-color: #3d1152;
  opacity: 1;
  cursor: pointer;
}
.addtobag-btn:active {
  transform: translateY(1px);
}
/* Single Product */
.single-page-container {
  margin: 20px;
  display: flex;
  padding: 4%;
  align-items: center;
  flex-wrap: wrap;
}
.img-container {
  width: 50%;
  padding-left: 25px;
  display: flex;
  justify-content: center;
}
.img-container img {
  width: 400px;
}
.info-container {
  width: 50%;
  padding-right: 100px;
}
.addtobag-btn2 {
  background-color: #3d1152;
  color: white;
  width: 50%;
  text-align: center;
  min-height: 3.6em;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2px;
}
.addtobag-btn2:hover {
  cursor: pointer;
  background: #5c1a7c;
  transition-delay: 0.25s;
  transition: background 0.2s ease 0s;
}
.addtobag-btn2:active {
  transform: translateY(1px);
}
.product-name-single {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.product-price-single {
  color: #3e1152;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.description {
  font-size: 1.1em;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.025em;
  line-height: 1.7;
}
.quantity-container {
  margin-top: 30px;
  margin-bottom: 20px;
}
.quantity-btn {
  margin-top: 10px;
  display: flex;
  letter-spacing: 0.2em;
  font-size: 0.8em;
  font-family: "Roboto", sans-serif;
}
.incre,
.decre {
  padding: 5px 7px;
  font-size: 18px;
}
.quantity-num {
  padding: 9px 15px 5px 15px;
  font-size: 16px;
  border: 1px solid grey;
}
/* Cart */
.cart-container {
  display: flex;
  padding: 20px 40px;
}
.item-box {
  display: flex;
  flex-direction: column;
  padding-right: 25px;
}

.item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-top: 1px solid #e8e8e1;
  padding: 20px 0;
}
.name-rm-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.empty-cart {
  height: 100%;
}
.checkout {
  width: 27%;
  padding: 20px 30px;
  background: #f9f9f9;
}
.cart-qty {
  display: flex;
  justify-content: center;
  align-items: center;
}
.decre-cart,
.incre-cart {
  padding: 2px 10px;
  height: 21%;
  border-radius: 0;
  border: 1px solid rgb(109, 108, 108);
}
.price-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-item-btn {
  margin-top: 20px;
  transition: background 0.2s ease 0s;
  color: white;
  background: #3d1152;
  border-radius: 0;
  border: #3d1152;
  padding: 5px 0px;
  width: 37%;
}
.table-att {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 10px;
}
.quantity-cart {
  padding: 9.1px 15px 5px 15px;
  font-size: 16px;
  border: 1px solid grey;
}
.center-div {
  display: flex;
  justify-content: center;
}
.checkout-btn {
  background: #3d1152;
  border-radius: 0;
  border: #3d1152;
  color: white;
  padding: 15px 0px;
  width: 100%;
  margin-top: 15px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2px;
}
.checkout-btn:hover {
  background: #5c1a7c;
  transition-delay: 0.25s;
  transition: background 0.2s ease 0s;
  cursor: pointer;
}
.checkout-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
/* Footer */

.footer {
  padding: 2.8rem 0;
  border-top: 1px solid #eee;
  background-color: #3e1152;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  display: grid;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
}
.logo {
  height: 10rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: White;
}

.contacts {
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 1rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #9751b4;
}

/* Tables for Admin */
#admin-portal-all-users,
#admin-portal-one-user {
  display: flex;
  flex-direction: column;
  background-color: rgba(247, 244, 240, 0.872);
  align-items: center;
  width: 100%;
}

table {
  padding: 10px;
  font-family: "Rubik", sans-serif;
  border: solid;
  margin: 20px 20px 80px 20px;
}

th,
tr {
  padding: 10px;
  text-align: center;
}
