* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
}

form div {
  margin: 1em;
  display: inline-block;
}
/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b7a2cd;
  width: 100%;
}
.logo-img {
  height: 150px;
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.8rem;
}
.main-nav {
  padding-right: 50px;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #3e1152;
}
/* Home */
.home-header {
  position: relative;
}
.welcome {
  text-align: end;
}
.home-img {
  width: 100%;
}
.text-box {
  position: absolute;
  left: 60%;
  top: 38%;
  transform: translate(-5%, -65%);
  text-align: center;
}
.heading-primary {
  color: #3a0e4d;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 40px;
}
.heading-primary-main {
  display: block;
  font-size: 48px;
  font-weight: 400px;
  letter-spacing: 25px;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700px;
  letter-spacing: 5.4px;
  animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-white {
  background-color: white;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
/* Sign-In */
.sign-in {
  height: 100%;
  padding-left: 50px;
}
.signin-form {
  display: flex;
  flex-direction: column;
  width: 30%;
  /*  align-items: center; */
  padding: 20px 0px;
  border: 1px solid rgba(128, 128, 128, 0.596);
  margin: 60px auto;
}
.signin-form div {
  padding: 0 20px;
}
.login {
  padding: 30px 36px;
}
.label::after {
  content: "*";
  color: #c00;
}
.input {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
}
.button {
  width: 100%;
  color: white;
  background-color: #3e1152;
  height: 37px;
  font-size: 18px;
}
.button:hover {
  cursor: pointer;
}
/* Product */
.products {
  padding: 0 60px;
  width: 100%;
}
.product-header {
  width: 100%;
  text-align: center;
  padding-top: 20px;
}
.header-text {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-weight: 300;
  color: #3e1152;
  font-size: 20px;
  padding-top: 45px;
  margin-bottom: 15px;
}
.text {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.025em;
  line-height: 1.7;
}
.header-img {
  width: 100%;
  height: 25vh;
  background-size: cover;
  background-position: top;
}
.grid-container {
  grid-column: center-start / center-end;
  margin: 2rem 0;
  display: grid;
  margin-left: 20px;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 3rem;
}

.product-container {
  display: grid;
  padding: 20px;
  position: relative;
  width: 340px;
}
.filter-box {
  margin-top: 80px;
  flex: 0 0 130px;
}
.filter-box h4 {
  color: #3e1152;
  letter-spacing: 0.85pt;
  font-family: "Gotham";
}
.product-name {
  color: black;
  margin-bottom: 15px;
  width: 330px;
}
.price {
  color: #3e1152;
}
.addtobag-btn {
  background-color: #3d1152;
  opacity: 0;
  color: white;
  text-transform: uppercase;
  position: absolute;
  bottom: 110px;
  left: 60px;
  width: 60%;
  text-align: center;
  min-height: 4em;
  font-weight: 400;
  letter-spacing: 2px;
}
.addtobag-btn:hover {
  background-color: white;
  color: #3d1152;
  border-color: #3d1152;
  opacity: 1;
  cursor: pointer;
}
.addtobag-btn:active {
  transform: translateY(1px);
}
/* Single Product */
.single-page-container {
  margin: 20px;
  display: flex;
  padding: 4%;
  align-items: center;
}
.img-container {
  width: 50%;
  padding-left: 25px;
}
.img-container img {
  width: 50%;
}
.info-container {
  width: 50%;
}
.addtobag-btn2 {
  background-color: #3d1152;
  color: white;
  width: 50%;
  text-align: center;
  min-height: 3.6em;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2px;
}
.addtobag-btn2:hover {
  cursor: pointer;
}
.addtobag-btn2:active {
  transform: translateY(1px);
}
/* Footer */

.footer {
  padding: 2.8rem 0;
  border-top: 1px solid #eee;
  background-color: #3e1152;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  display: grid;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
}
.logo {
  height: 10rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: White;
}

.contacts {
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 1rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #9751b4;
}
